In [ ]:
import pandas as pd

# Nike

In [ ]:
df_tweets = pd.read_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/1. Data processing /Preprocessed data/preprocessed_original_nike.csv")

In [ ]:
df_news = pd.read_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/1. Data processing /Preprocessed data/preprocessed_news_nike.csv")

In [ ]:
col_tweets = ['Processed']
df_tweets = df_tweets[col_tweets]
df_tweets.head()

                                           Processed
0  ['charliekirk', 'theâ', 'naacp', 'saidâ', 'fla...
1  ['sporti', 'support', 'action', 'toss', 'monar...
2  ['ryanafourni', 'nike', 'anti', 'american', 'c...
3  ['ryanafourni', 'nike', 'anti', 'american', 'c...
4  ['ryanafourni', 'nike', 'anti', 'american', 'c...

In [ ]:
col_news = ['Processed']
df_news = df_news[col_news]
df_news.head()

                                           Processed
0  ['earlier', 'week', 'arizona', 'doug', 'ducey'...
1  ['seri', 'tweet', 'tuesday', 'ducey', 'say', '...
2  ['arizona', 'economi', 'fine', 'nike', 'need',...
3  ['despit', 'harsh', 'word', 'compani', 'week',...
4  ['steve', 'irvin', 'phoenix', 'say', 'photo', ...

In [ ]:
df_tweets_sample = df_tweets.sample(2000000)

In [ ]:
df_tweets_sample.to_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/2.1. CSV to TXT transformation/nike_tweets.txt")
df_news.to_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/2.1. CSV to TXT transformation/nike_news.txt")

# Gillette

In [ ]:
df_tweets_G = pd.read_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/1. Data processing /Preprocessed data/preprocessed_original_gillette.csv")

In [ ]:
df_news_G = pd.read_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/1. Data processing /Preprocessed data/preprocessed_news_gillette.csv")

In [ ]:
col_tweets_G = ['Processed']
df_tweets_G = df_tweets_G[col_tweets]
df_tweets_G.head()

                                           Processed
0  ['usmc_bamci', 'mastrblu', 'boycottgillett', '...
1  ['usmc_bamci', 'mastrblu', 'boycottgillett', '...
2  ['gilletteâ', 'inspir', 'toxic', 'masculin', '...
3  ['high', 'entertain', 'watch', 'twitter', 'thr...
4  ['eiguanac', 'wors', 'messag', 'general', 'pro...

In [ ]:
col_news_G = ['Processed']
df_news_G = df_news_G[col_news]
df_news_G.head()

                                           Processed
0  ['right', 'light', 'year', 'fuzzi', 'cusp', 'g...
1                                  ['plan', 'shave']
2  ['chanc', 'sit', 'countertop', 'time', 'itch',...
3  ['scene', 'day', 'inspir', 'moment', 'watch', ...
4  ['spot', 'gillett', 'address', 'negat', 'aspec...

In [ ]:
df_tweets_sample_G = df_tweets.sample(2000000)

In [ ]:
df_tweets_sample_G.to_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/2.1. CSV to TXT transformation/gillette_tweets.txt")
df_news_G.to_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/2.1. CSV to TXT transformation/gillette_news.txt")

# Boeing

In [ ]:
df_tweets_B = pd.read_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/1. Data processing /Preprocessed data/preprocessed_original_boeing.csv")
df_news_B = pd.read_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/1. Data processing /Preprocessed data/preprocessed_news_boeing.csv")

In [ ]:
col_tweets_B = ['Processed']
df_tweets_B = df_tweets_B[col_tweets]
df_tweets_B.head()

                                           Processed
0  ['realmattcouch', 'break', 'footag', 'ukrainia...
1  ['cnnbrk', 'peopl', 'aboard', 'ukrain', 'inter...
2  ['busi', 'break', 'boe', 'crash', 'iran', 'sho...
3  ['boe', 'plane', 'carri', 'passeng', 'crew', '...
4  ['reuter', 'ukrainian', 'boe', 'crash', 'iran'...

In [ ]:
col_news_B = ['Processed']
df_news_B = df_news_B[col_news]
df_news_B.head()

                                           Processed
0  ['instant', 'messag', 'intern', 'boe', 'docume...
1  ['haven', 'forgiv', 'cover', 'year', 'say', 'm...
2  ['exchang', 'boe', 'employe', 'august', 'close...
3  ['boe', 'employe', 'write', 'airplan', 'design...
4  ['document', 'releas', 'boe', 'congression', '...

In [ ]:
df_tweets_sample_B = df_tweets.sample(2000000)

In [ ]:
df_tweets_sample_B.to_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/2.1. CSV to TXT transformation/boeing_tweets.txt")
df_news_B.to_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/2.1. CSV to TXT transformation/boeing_news.txt")

# Tesla

In [ ]:
df_tweets_T = pd.read_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/1. Data processing /Preprocessed data/preprocessed_original_tesla.csv")
df_news_T = pd.read_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/1. Data processing /Preprocessed data/preprocessed_news_tesla.csv")

In [ ]:
col_tweets_T = ['Processed']
df_tweets_T = df_tweets_T[col_tweets]
df_tweets_T.tail()

                                                 Processed
1962848  ['pult', 'tesla', 'sound', 'year', 'disabl', '...
1962849  ['ngyntlinh', 'orang', 'tesla', 'sound', 'like...
1962850  ['augalici', 'tslaq', 'manipul', 'campaign', '...
1962851  ['elonmusk', 'possibl', 'stream', 'tesla', 'cy...
1962852  ['jenstreet', 'pump', 'thursday', 'wish', 'per...

In [ ]:
col_news_T = ['Processed']
df_news_T = df_news_T[col_news]
df_news_T.head()

In [ ]:
df_tweets_T.to_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/2.1. CSV to TXT transformation/tesla_tweets.txt")
df_news_T.to_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/2.1. CSV to TXT transformation/tesla_news.txt")

# EasyJet

In [ ]:
df_tweets_E = pd.read_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/1. Data processing /Preprocessed data/preprocessed_original_easyjet.csv")
df_news_E = pd.read_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/1. Data processing /Preprocessed data/preprocessed_news_easyjet.csv")

In [ ]:
col_tweets_E = ['Processed']
df_tweets_E = df_tweets_E[col_tweets]
df_tweets_E.tail()

                                               Processed
89539                    ['easyjet', 'menu', 'question']
89540  ['cheek', 'easyjet', 'charg', 'nose', 'wife', ...
89541  ['xgohub', 'airlin', 'fleet', 'size', 'number'...
89542  ['linashannak', 'nopenottodayno', 'depend', 'a...
89543  ['hotstreek', 'melsunros', 'pribillik', 'nina'...

In [ ]:
col_news_E = ['Processed']
df_news_E = df_news_E[col_news]
df_news_E.head()

                                           Processed
0  ['easyjet', 'slam', 'ask', 'passeng', 'photo',...
1  ['imag', 'share', 'social', 'media', 'show', '...
2  ['caption', 'accompani', 'imag', 'say', 'easyj...
3  ['passeng', 'share', 'imag', 'tell', 'onlin', ...
4  ['explain', 'flight', 'attend', 'ask', 'woman'...

In [ ]:
df_tweets_T.to_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/2.1. CSV to TXT transformation/easyjet_tweets.txt")
df_news_T.to_csv("/Users/martinkvammen/Google Drive (martinkvammen@gmail.com)/1. Masters Thesis/5. Shared Thesis /3.1. Data/2.1. CSV to TXT transformation/easyjet_news.txt")